body {
  margin: 0;
  padding: 0;
}

.bannerHome {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/bannerpizza.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
}

.linea {
  color: white;
  width: 500px;
}

.cardPizza {
  margin: 10px 80px;
}
